<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n" />
		</Console>
		<Routing name="RoutingAppender">
			<Routes pattern="$${ctx:logFilename}">
				<Route>
					<RollingFile name="Rolling-${ctx:logFilename}"
						fileName="logs/${ctx:logFilename}.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
						append="true">
						<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n" />
						<SizeBasedTriggeringPolicy size="10 MB" />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="RoutingAppender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
